In [2]:
import pandas as pd

# Exploratory Data Analysis

In [69]:
df = pd.read_csv('dq_data.csv')
raw_shape =df.shape

In [62]:
df.info() # some nulls are present do deal with

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [63]:
# set max width
pd.set_option('display.max_colwidth', 800)
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in share market in india?,What is the step by step guide to invest in share market?,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Diamond?,What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?,0
2,2,5,6,How can I increase the speed of my internet connection while using a VPN?,How can Internet speed be increased by hacking through DNS?,0
3,3,7,8,Why am I mentally very lonely? How can I solve it?,"Find the remainder when [math]23^{24}[/math] is divided by 24,23?",0
4,4,9,10,"Which one dissolve in water quikly sugar, salt, methane and carbon di oxide?",Which fish would survive in salt water?,0

Observation: 
I found some rows in the data that are complete noise.

Conclusion:
Now I must find more by criteria like  length of the question and by other like long strings of only `@$##$^` ect.

In [64]:
df.sort_values(by='question1', key=lambda x: x.str.len()).head(10)

,id,qid1,qid2,question1,question2,is_duplicate
190570,190570,289688,289689,â€˜,"Time is money.Can some one explain, how it works?",0
254161,254161,214814,368834,?,How do I convince my non-Indian friends that not all Indians are cow worshippers and not all of them text every woman they find on Facebook?,0
213220,213220,25026,64784,?,What is it like to work at Google?,0
115347,115347,188110,52215,o,Where can I watch free streaming movies online?,0
189659,189659,161071,288480,?,Who is Noah?,0
273065,273065,391451,380455,?,"How can I describe Quora, in all its glory, to friends?",0
96725,96725,161071,161072,?,"Who are Moses, Noah and Exodus?",0
158778,158778,247989,48850,A,Do men forgive their wives when they cheat on them?,0
13016,13016,25026,25027,?,Why should one not work at Google?,0
357127,357127,486520,146954,H,Should I forgive the cheater?,0

In [73]:
min_lenq1 = 9
short_strings_count = len(df[df['question1'].str.len() < min_lenq1])
print(short_strings_count)

df = df[df['question1'].str.len() >=min_lenq1]
print("original data dimensions:",raw_shape, "after this change the dimensions are dimensions:", df.shape)
df[df['question1'].str.len() < min_lenq1+1].sort_values(by='question1', key=lambda x: x.str.len())

7
original data dimensions: (404290, 6) after this change the dimensions are dimensions: (404215, 6)

,id,qid1,qid2,question1,question2,is_duplicate
63278,63278,110155,110156,How long?,How long does a New Zealand citizen immigrant have to wait to apply for his parents to be naturalized as well?,0
91373,91373,153131,153132,How I am?,Why does red flowers not putting on the Shiv linga?,0
93813,93813,156776,156777,Who Am I?,How do you find out who you are?,0
182943,182943,279869,279870,[removed],Is playing video games immature?,0
189296,189296,288015,288016,Am I fat?,Why am I fat?,0
209110,209110,313299,313300,Easy PHP?,As a Muslim should I celebrate Christmas?,0
253902,253902,368527,368528,Yf v. B.?,Name written as x kr y till 12â€¦nw its written as x kumar yâ€¦any problem in passport verification?,0

obs: found a key word `[removed]`

discussion: is it often?

conclusion: low priority, But I will check it.

# Duplicates

In [22]:
import pandas as pd

# Create an empty data frame to store the duplicates
duplicates_df = pd.DataFrame(columns=['Column', 'Duplicates_Count'])

# Loop through each column in the dataframe
for column in df.columns:
    # Calculate the count of duplicates in the column
    duplicates_count = df[column].duplicated().sum()
    
    # Create a temporary dataframe with the column name and duplicates count
    temp_df = pd.DataFrame({'Column': [column], 'Duplicates_Count': [duplicates_count]})
    
    # Concatenate the temporary dataframe with the duplicates_df
    duplicates_df = pd.concat([duplicates_df, temp_df], ignore_index=True)

# Print the duplicates_df
display(duplicates_df.T)

                   0       1       2          3          4             5
Column            id    qid1    qid2  question1  question2  is_duplicate
Duplicates_Count   0  113636  104926     113833     105115        404288

Obs: there are some duplicated questions with more then one unique ID.

Discussion: Does it affect my task somehow? I don't think so. 

Conclusion: Not gonna do anything with it for now.

Observation: There is only one word difference in this one, and the question is duplicated:

`id 341387, 'What is the most beautiful moment in your life?'	'What was the most beautiful moment in your life?'`

Discussion: Maybe I can classify these with a simple rule based algorithm, and save some running time. How many more of these are there?

# find_similar_rows

In [40]:

def find_similar_rows(df, col1, col2, n):
    def compare_strings(s1, s2):
        # Split the strings into words
        words1 = set(s1.split())
        words2 = set(s2.split())
        
        # Find the difference in words
        diff = words1.symmetric_difference(words2)
        
        # Return True if the difference is exactly n words, False otherwise
        return len(diff) == n
    
    # Apply the comparison function to each row and filter the DataFrame
    mask = df.apply(lambda row: compare_strings(row[col1], row[col1]), axis=1)
    return df[mask]

# Example usage
# n = 1  # Number of words that differ
# similar_rows = find_similar_rows(df, n)
for n in range(1, 2):
# Find rows with a difference of 2 words
# n = 1
    matching_rows = find_similar_rows(df=df, col1='question1', col2='question2', n=n)
    display(matching_rows)

AttributeError: 'float' object has no attribute 'split'

In [ ]:
Results:

Conclusion:

Is that essentialy duplicated? <br>
`id: 230012,   æ ¼å±€how to translate?	,How would you translate "ä¸€ç™¾å›ž"?`
Are the foreign terms similar?

Observation: There is an unfinished quote here.
Conclusion: It could cause trouble if I want to process quotes in my pipeline.

`"How do I get rid of acne and acneâ€¦?, How do I get rid of acne and its spots?	`

# Nulls Handling

In [37]:
null_rows_indexes = df[df.isnull().any(axis=1)].index
print(null_rows_indexes)

Int64Index([201841, 105780, 363362], dtype='int64')